{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account_developer' %}
{% set page_title = 'Developer' %}

{% block page_content %}
  <div class="form-container">
    <h1 class="form-header">Contribute to Travrse</h1>
    <p>
      If you're interested in hacking on Travrse with us, send us an email at
      <a href="mailto:developers@hypothes.is?Subject=Help%20With%20Travrse">
        developers@travr.se</a>.
  </div>

{% endblock page_content %}
