{% extends "layouts/base.html.jinja2" %}

{% set style_bundle = 'help_page_css' %}

{% block meta %}
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  {{ super() }}
  <script type="application/json" class="js-hypothesis-config">
    {
      "openSidebar": true,
      "openLoginForm": true
    }
  </script>
  {% if not is_onboarding %}
    <script type="application/json" class="js-hypothesis-config">
    {
      "sidebarAppUrl": "{{ request.route_url('sidebar_app') }}"
    }
    </script>
    <script async defer src="{{ embed_js_url }}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="help-page">
    <div class="help-page-content masthead-small">
      {% include "includes/logo-header.html.jinja2" %}
    </div>
      {% if is_onboarding %}
        <section class="help-page-section">
          <h2 id="getting-started" class="help-page-heading">Getting started</h2>
          <p class="help-page-lede">Now you have the extension up and running. It's time to
            start discussing some documents.</p>
          <div class="numbered-list columns">
            <div class="columns__col-1-2"><div class="numbered-list-item">If you've not already, create an account using the sidebar on the right of the screen.</div></div>
            <div class="columns__col-1-2"><div class="numbered-list-item">Go forth and discuss! Enable the sidebar via the button in the Extensions toolbar.</div></div>
          </div>  
        </section>
      {% endif %}
      <section class="help-page-section">
        <h2 id="key-features" class="help-page-heading">Message Types</h2>
        <p class="help-page-lede">There are a few types of discussions that can be created
          with Travrse:</p>
        <div class="feature-content">
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-annotate"></i> Discussions</h3>
            <div class="feature-content styled-text">
              <p>Create a <em>public or private message</em> by selecting some text and clicking the <i class="help-icon h-icon-annotate"></i> button</p>
            </div>
          </section>
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-reply"></i> Replies</h3>
            <div class="feature-content">
              <p>You can  <em>reply</em> to any message by using the <i class="help-icon h-icon-reply"></i> reply action
                on every card.</p>
            </div>
          </section>
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-border-color"></i>Page Notes</h3>
            <div class="feature-content styled-text">
              <p>Create a <em>page note</em> by selecting some text and clicking the <i class="help-icon h-icon-insert-comment"></i> button</p>
            </div>
          </section>
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-border-color"></i> Highlights</h3>
            <div class="feature-content">
              <p><em>Highlights</em> can be created by clicking the <i class="help-icon h-icon-border-color"></i> button.
              Try it on this sentence.</p>
            </div>
          </section>
        </div>
      </section>
      <section class="help-page-section">
        <h2 id="key-features" class="help-page-heading">Privacy</h2>
        <p class="help-page-lede">Messages are either public and visible to everyone
          or private and visible only to you.</p>
        <div class="columns feature-content">
          <section class="feature columns__col-1-2">
            <h3 class="feature-heading"><i class="feature-icon h-icon-public"></i> Public</h3>
            <div class="feature-content styled-text">
              <p>These messages are visible to everyone both in the
                document itself and our <a
                href="{{request.route_url('stream')}}">public stream</a>.</p>
            </div>
          </section>
          <section class="feature columns__col-1-2">
            <h3 class="feature-heading"><i class="feature-icon h-icon-lock"></i> Private</h3>
            <div class="feature-content">
              <p>Private messages (posted to a group or yourself) are visible only to you when logged in.</p>
            </div>
          </section>
        </div>
      </section>
      <section class="help-page-section">
        <section class="feature">
          <h3 class="feature-heading"><i class="feature-icon h-icon-visibility"></i>Show/Hide Highlights</h3>
          <p class="feature-content">Use the <i class="help-icon h-icon-visibility"></i> button to toggle highlight visibility on a page.</p>
        </section>
        <section class="feature">
          <h3 class="feature-heading"><i class="feature-icon h-icon-share"></i>Sharing a page</h3>
          <div class="feature-content">
            <p>Use the <i class="help-icon h-icon-share"></i> button to get a sharable link to the page with annotations.</p>
          </div>
        </section>
      </section>
    </article>
    <div class="help-page-sidebar">
      <div id="help-1">
        <p>Show and hide the sidebar using the <i class="h-icon-chevron-left"></i> button</p>
      </div>
      <div id="help-2"></div>
    </div>
  </div>
{% endblock %}
