{% extends "layouts/base.html.jinja2" %}

{% set style_bundle = 'help_page_css' %}

{% block meta %}
  <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  {{ super() }}
  <script type="application/json" class="js-hypothesis-config">
    {
      "openSidebar": true,
      "openLoginForm": true
    }
  </script>
  {% if not is_onboarding %}
    <script type="application/json" class="js-hypothesis-config">
    {
      "sidebarAppUrl": "{{ request.route_url('sidebar_app') }}"
    }
    </script>
    <script async defer src="{{ embed_js_url }}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="help-page">
    <div class="help-page-content masthead-small">
      {% include "includes/logo-header.html.jinja2" %}
    </div>
    <article class="help-page-content">
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Travrse Privacy Policy</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">This privacy policy informs you of our policies regarding 
            the collection, use, and disclosure of personal information of users of our website and/or 
            services. We pride ourselves in ensuring that we collect, use, process and erase any personal 
            information in accordance with current applicable laws in the United States of America (USA) 
            and the General Data Privacy Regulation (GDPR). If you have requests or questions concerning 
            your personal information, please contact us at support@hypothes.is.</div>
            <div class="feature-content styled-text">Travrse offers embedded discussion services, which you can use by signing 
            up for an account where you will be asked to acknowledge and agree to our privacy policy. Some parts 
            of those services are also available for anyone to view without an account, such as public discussions. 
            We also publish an organizational website which in turn includes our annotation services so people can 
            discuss our website.</div>
            <div class="feature-content styled-text">We do not ask visitors to opt in just to access our organizational website 
            because we have taken specific steps not to collect any personal information on the website using cookies or other means. 
            The only cookies we use are de-identified, helping us understand how the website is used in general and to make it faster 
            and easier to use. The website does enable you to opt in separately to do things like file support requests, receive emails, 
            and/or follow our social media accounts, each of which may collect personal information from you to fulfill your request and 
            are outlined below. Because our annotation services are embedded in our website, and because annotations can in turn embed other 
            media, you may encounter messages made by visitors that include media or links to other websites that set cookies that collect 
            personal information. You can adjust your browser to block such cookies before viewing messages on our website.</div>
            </div>
         </div>
        </section>
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Collecting Your Personal Information</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">We collect both personally-identifiable information, or personal information,
             and non-personally-identifiable information from you. Often, you choose what information to provide to us, but sometimes, 
             we may require certain information for you to use and for us to provide our services. Specifically, we collect the following:</div>
            <div><p class="help-page-lede">Information You Voluntarily Provide</p></div>
            <div class="feature-content styled-text">Account Creation & User Profile: When you sign up and use our services, you will voluntarily 
            provide us with the following information: username, email, and profile information.
            Discussion Using Sidebar: When you are using our Travrse Sidebar you are actively visiting websites on the internet, highlighting content 
            of interest and discussing (i.e. providing your opinion or remarks as related to content you’ve found). These messages are associated to your account.
            Creating Groups: When you are using our services, you are permitted to discuss using a public group (viewable by anyone using the services), or discuss 
            in private groups (viewable by members of the private group), or leave notes in “only me” privacy settings (viewable to only you).
            By giving us this information, you agree to it being collected, used, disclosed, transferred to the USA and stored by us.
            discuss our website.</div>
          </div>
        </section>
         <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Automatically Collected Information</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">Information about your computer hardware and software may be automatically collected by our services. 
            This information can include: your IP address, location information, operating system, browser type, domain names, access times and referring 
            website addresses. This information is collected in a log file and retained for a limited time and is used for the operation of the services, 
            to maintain quality of the services, and to provide general statistics regarding use of the services and website.</div>
            <div><p class="help-page-lede">Use of Cookies</p></div>
            <div class="feature-content styled-text">The website and services may use “cookies” to help personalize your online experience.
            The primary purpose of a cookie is to tell the web server that you have previously visited a specific page. For example, if you personalize 
            login to our services, a cookie tracks your session to various parts of the site. You have the ability to accept or decline cookies. Most web 
            browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline 
            cookies, you may not be able to fully experience the interactive features of our website and services.</div>
          </div>
        </section>
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Using Your Personal Information</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">We may use your personally identifiable information to process user requests; to provide and improve services 
            administration; to personalize your user experience; to contact users via email; to respond to inquiries, and/or other requests or questions; to send 
            company news, updates, and other related info via our mailing list; to facilitate registration for and use of our services; and to provide technical support.
            Travrse gives you the choice of providing, editing or removing certain information. You may update your Travrse account information through your account settings. 
            You can also request the deletion of the personal information in your account by contacting us at support@travr.se</div>
            <div><p class="help-page-lede">Use of Cookies</p></div>
            <div class="feature-content styled-text">The website and services may use “cookies” to help personalize your online experience.
            The primary purpose of a cookie is to tell the web server that you have previously visited a specific page. For example, if you personalize 
            login to our services, a cookie tracks your session to various parts of the site. You have the ability to accept or decline cookies. Most web 
            browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline 
            cookies, you may not be able to fully experience the interactive features of our website and services.</div>
          </div>
        </section>
         <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Automated Processing of Personal Information</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">Travrse does not engage in any automated processing (i.e. profiling) of user information at this time.</div>
          </div>
        </section>
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Securing Your Personal Information</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">Travrse secures your personal information from unauthorized access, use, or disclosure using the following methods:
            When personal information is transmitted to other websites, it is protected through the use of encryption, such as the Transport Layer Security (TLS) protocol.
            User passwords are salted and hashed using the industry standard “bcrypt” algorithm. No Travrse employee has access to user passwords. Travrse employees have 
            access to user email addresses only for support purposes. We retain user IP address information and request information for a strictly limited period for diagnostic 
            purposes only. We also collect some information in aggregate about your activities within our application from the client. This de-identified information is used for 
            internal metrics and operational support, but we do not track your individual activity.</div>
            <div><p class="help-page-lede">Breach of Privacy</p></div>
            <div class="feature-content styled-text">In case of a breach of private information, we will notify affected users via the email address associated with their account 
            within 72 hours of uncovering the breach.</div>
            <div><p class="help-page-lede">International Transfer of Your Personal Information</p></div>
            <div class="feature-content styled-text">Travrse operates globally so it is necessary to transfer your information internationally. In particular, your information will 
            likely be transferred to and processed via servers located in the USA. The USA, European Economic Area (“EEA”) Member States, and other countries all have different laws. 
            When your information is moved from your home country to another country, the laws and rules that protect your personal information in the country to which your information 
            is transferred may be different from those in the country in which you live. For example, the circumstances in which law enforcement can access personal information may vary 
            from country to country. In particular, if your information is in the USA, it may be accessed by government authorities in accordance with laws in the USA.
            To the extent that Travrse is deemed to transfer personal information outside of the EEA, we rely separately, alternatively, and independently on the following legal bases 
            to transfer your information:</div>
            <div><p class="help-page-lede">Privacy Shield</p></div>
            <div class="feature-content styled-text">Travrse does not participate in Privacy Shield at this time.</div>
             <div><p class="help-page-lede">Necessary for the performance of the contract.</p></div>
            <div class="feature-content styled-text">Hypothesis provides voluntary services; you can choose whether or not you want to use our services. However, if you want to use our 
            services, you need to agree to our Terms of Service which set out the contract between Travrse and its users. As we operate in countries worldwide (including in the USA) and 
            may use technical infrastructure in the USA to deliver our services to you, in accordance with the contract between us, we need to transfer your personal information to the USA 
            and to other jurisdictions as necessary to provide our services.</div>
            <div><p class="help-page-lede">Retention</p></div>
            <div class="feature-content styled-text">Travrse will keep information provided by users and third-party service providers for no longer than is necessary for operating and 
            improving our services. Moreover, Travrse will respect of rights of individual users who request that their information be removed, updated, etc.
            Travrse will retain your information for as long as your account is active (i.e. for the lifetime of your Travrse account), as described in this policy, or as needed to provide 
            our services to you. If you no longer want Travrse to use your information to provide our services to you, you may close your account. Travrse will retain and use your information 
            to the extent necessary to comply with our legal obligations (for example, if we are required to retain your information to comply with applicable tax/revenue laws), resolve disputes, 
            enforce our agreements, and as otherwise described in this policy. We also retain log files for internal analysis purposes. These log files are generally retained for a brief period of 
            time, except in cases where they are used for site safety and security, to improve site functionality, or when we are legally obligated to retain them for longer time periods.</div>
          </div>
        </section>
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">Your Rights</h2>
          <div class="feature-content">
            <div><p class="help-page-lede">Right to Access User Information</p></div>
            <div class="feature-content styled-text">Users have a right to access their User Information (email, username, number of annotations, group membership, messages, etc) at any time 
            either through their user settings or by logging into the services.</div>
            <div><p class="help-page-lede">Right to Update User Informations</p></div>
            <div class="feature-content styled-text">Users have a right to update their User Information (email, username, number of messages, group membership, etc) at any time either through 
            their user settings (i.e. https://travr.se/users/[username])) or by contacting Travrse at support@travr.se and submitting an email request to have their user Information updated. 
            Travrse may request identifying information to confirm the identity of the party requesting an update.</div>
            <div><p class="help-page-lede">Update or Delete Messages</p></div>
            <div class="feature-content styled-text">Users have a right to update or delete their public, private, and group messages. Any update or delete request of public message will 
            take affect going forward in our systems, but any prior publication of the “un-edited” public or group messages captured by third parties with API access (authenticated or unauthenticated) 
            to our systems may still retain the original, unchanged public or group messages which they may have retrieved prior to the update or delete request.</div>
            <div><p class="help-page-lede">Ability to Update Privacy Settings Associated with Messages</p></div>
            <div class="feature-content styled-text">Travrse messages have one of three privacy settings: fully public, public within an discussion group, and fully private (visible only to its author). 
            Message authors can change the visibility (privacy settings) of any of their messages in the following ways:
            Private messages can be made more public. Depending on their context, they can either be made visible publicly or only to members of an discussion group.
            Public messages and messages shared with groups can be made private, thereafter visible only to their authors, but others may have seen such messages and/or captured them via the API while 
            they were more widely available.</div>
            <div><p class="help-page-lede">Right to Erasure</p></div>
            <div class="feature-content styled-text">Users have a right to delete their user Information (email, username, active status, number of messages, group membership, etc) at any time by 
            contacting Travrse at support@travr.se and submitting an email request to have their user Information deleted. Travrse may request identifying information to confirm the identity 
            of the party requesting an update. Please note that any messages captured by our services prior to request for deletion by a user would have been accessible to API users, and we do not 
            have a mechanism to force those API users to remove that information, but we will respect the request of the user and delete it from our services going forward.</div>
            <div><p class="help-page-lede">Data Portability</p></div>
            <div class="feature-content styled-text">Users have the right to receive a copy of the information maintained about them, which they have provided to our services, in a standard format 
            and have the right to transmit the information to another business entity without hindrance from us. Users can email support@travr.se to request a copy of their information.</div>
            <div><p class="help-page-lede">Right to Restriction of Processing</p></div>
            <div class="feature-content styled-text">Users have the right to restrict processing of their personal information. We will assist users in updating the information maintained about 
            them or assisting them with their subject access requests in a timely manner in order to remedy concerns users have about their personal information.</div>
            <div><p class="help-page-lede">Right to Objevt</p></div>
            <div class="feature-content styled-text">Our services do not justify data processing on the basis of legitimate interest. Therefore, this right does not apply to our services.</div>
            <div><p class="help-page-lede">Right to Not Be Subject to Automated Decision Making</p></div>
            <div class="feature-content styled-text">Our services do not provide decisions based solely on automated processing that produces legal effects concerning the user. Therefore, this 
            right does not apply to our services.</div>
            <div><p class="help-page-lede">Withdrawing Consent</p></div>
            <div class="feature-content styled-text">Where you have provided your consent, you have the right to withdraw your consent to our processing of your information and your use of our services. 
            For example, you can withdraw your consent to email communications by using the unsubscribe links in such emails. You can choose to withdraw your consent to our processing of your information 
            and your use of our services at any time by closing your account and then emailing support@travr.se to request that your personal information be deleted, except for information that we are required 
            to retain. This deletion is permanent and your account cannot be reinstated.</div>
          </div>
        </section>
        <section class="help-page-section">
          <h2 id="key-features" class="help-page-heading">E-mail Communications & How to Opt-Out</h2>
          <div class="feature-content">
            <div class="feature-content styled-text">From time to time, we may contact you via email for the purpose of providing news, announcements, alerts, confirmations, surveys, and/or other general communication. 
            In order to improve our services, we may receive notifications when you open, forward, or click on links in emails from us. Please note that email communications from us about our services or messages beyond 
            the administration of your account are opt-in. If you would like to stop receiving such email communications, you may opt out using the “unsubscribe” link provided in every email or by contacting us at support@travr.se. 
            Opt-in organizational emails from us may contain tracking facilities within the actual email. Subscriber activity is tracked and stored in a database for future analysis and evaluation. Such tracked activity may include 
            but shall not be limited to: the opening of emails, forwarding of emails, the clicking of links within the email content, times, dates and frequency of activity. This information is used to refine future email campaigns 
            and supply the users with more relevant content based on their activity.
            You may also control the receipt of certain types of communications from us. We may send you messages about our services or your activity. Some of these messages are required, services-related messages for users 
            (such as transactional messages, email confirmation, replies to messages, or legal notices). Other messages are not required, such as newsletters and announcements. You can control which optional messages you 
            choose to receive via the unsubscribe links in our emails.
            If you no longer wish to use our services or receive services-related messages (except for legally required notices), then you may close your account by contacting us at support@travr.se</div>
            <div><p class="help-page-lede">Additional Information or Assistance</p></div>
            <div class="feature-content styled-text">We encourage you to reach out to us at support@travr.se to resolve any issues or concerns that you may have with this privacy policy or the ways we manage your information. 
            In the event that you feel that we have not resolved your issue via email or support ticket communications, you have the right to file a complaint with your local supervisory authority or regulatory agency.</div>
            <div><p class="help-page-lede">Modifications and Changes to the Privacy Policy</p></div>
            <div class="feature-content styled-text">We may modify, add to, suspend, or delete this privacy policy, in whole or in part, at our sole discretion at any time, with such modifications, additions or deletions being 
            effective on the date of publication online. Your access of the website and/or use of our services, after modification, addition or deletion of the privacy policy shall be deemed to constitute acceptance by you of 
            the modification, addition or deletion.</div>
            <div><p class="help-page-lede">Updated on: June 19, 2018</p></div>
          </div>
        </section>
    </article>
  </div>
{% endblock %}
