<footer class="footer">
  <nav class="footer__content">
    <div class="footer__item">
      {% include "h:templates/includes/brand.html.jinja2" %}
    </div>

    <div class="footer__rows">
      <ul class="footer__row">
        <li class="footer__item footer__item--last">
          <a href="{{ https://docs.google.com/document/d/1vsfbX_fiidQRw_JCuiDreEU4E4CLOZx-b8NvF779bEk/edit?usp=sharing }}">{% trans %}Privacy Policy{% endtrans %}</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
